# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Logs
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*~
core.*
error.txt
dep.txt

# Spring Boot
spring-boot-devtools.properties
